@import url('https://fonts.googleapis.com/css?family=Muli:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,900,900i&display=swap');

/*
COLORS
Lt Gray - DFDFDE
Dk Gray - 121212
Blue - 1366A5
Green - 108755
Yellow - CEA43B
Red - C13232

Navy - 1C2560
Teal - 32A69D
Magenta - DB1C72
Peuce - 9EC330
Purple - 564DA1
Pink purple - A40D90
*/
html {
	background-color: #F7FCE7;

}
body {
  margin: 0 auto;
	color: #1C2560;
  padding: 60px 0 120px;
  font-size: 1.3rem;
	line-height: 150%;
	font-family: nocturne-serif, serif;
	font-weight: 400;
	font-style: normal;
  max-width: 900px;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
} */
.col-lg {
	margin: 0 auto;
  width: 65%;
}
.no-padding {
  padding: 0px;
}
.transparent {
  background-color: transparent;
}
section {
  margin: 0 auto;
  margin-top: 20%;
  position: relative;
  background-color: #F2F2F3;
  padding: 8em 1em;

}
h1 {
	font-family: nocturne-serif, serif;
	font-style: normal;
	text-transform: lowercase;
  font-weight: 800;
  font-size: 3rem;
	line-height: 130%;
}
h2 {
	font-size: 1.4em;
  line-height: 150%;
}
a {
	text-decoration: none;
	font-weight: bold;
  color: #32A69D;
	text-align: center;
}
a:hover {
	transition: 0.2s;
	color: #1C2560;
}
a.button {
	border: transparent;
	background-color: #32A69D;
	color:white;
  margin-right: 15px;
	font-size: 1.1rem;
	padding: .5em .75em;
	border-radius: 5px;
}
a.button:hover {
	transition: 0.2s;
	color: white;
	background-color: #1C2560;
}
.links {
	display: flex;
	margin-top: 50px;
}
.icon-tray {
	margin-left: auto;
  margin-top: 4px;
	font-size: 1.4rem;
}
.icon {
  	margin-left: 15px;
}

@media (max-width: 480px) {
  body {
    padding: 40px;
  }
  .col,
  .col-lg,
  .col-sm {
		margin: 0 auto;
    margin-bottom: 10px;
    flex: 1;
    width: 100%;
  }
  a.button {
    margin: 20px 0;
  }
  .icon {
  	margin: 16px;
  }
  .links {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.icon-tray {
		text-align: center;
	}

}
