@import url('https://fonts.googleapis.com/css?family=Muli:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,900,900i&display=swap');

/*
COLORS
Lt Gray - DFDFDE
Dk Gray - 121212
Blue - 1366A5
Green - 108755
Yellow - CEA43B
Red - C13232
*/
html {
	background-color: #DFDFDE;
}
body {
  margin: 0 auto;
  padding-top: 60px;
  color: white;
  font-size: 1.1rem;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 900px;
}
.action {
  display:none;
  text-align: right;
  margin: 20px 0;
  font-size: .9rem;
}
.action,
.action a {
  color: #121212;
}
.bottom {
  text-align: left;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  background-color: #121212;
}
.col-lg {
  width: 65%;
}
.col-xl {
  flex: 1;
}
.col-sm {
  width: 33%;
}
.no-padding {
  padding: 0px;
}
.bg-1 {
  background-color: rgb(43, 43, 43);
}
.bg-2 {
  background-color: rgb(116, 85, 77);
}
.bg-3 {
  background-color: rgb(207, 106, 83);
}
.bg-4 {
  background-color: rgb(205, 180, 96);
}
.bg-5 {
  background-color: rgb(229, 229, 174);
}

.bg-4,
.bg-5 {
  color: #121212;
}
.bg-4 a,
.bg-5 a {
  color: #121212;
}
.transparent {
  background-color: transparent;
}
section {
  margin: 0 auto;
  margin-top: 20%;
  position: relative;
  background-color: #F2F2F3;
  padding: 8em 1em;

}
.avatar {
  width: 180px;
  opacity: 1; 
  filter: grayscale(100%);
}
h1 {
  font-family: 'Muli', sans-serif;
	text-transform: lowercase;
  font-weight: 900;    
  font-size: 3rem;
}
a {
	font-weight: bold;
  color: white;
}
a:hover {
  color: rgb(116,84,78);
}
a.button {
	border: transparent;
	color:#121212;
  margin-right: 15px;
}
a.button:hover {
	transition: 0.3s;
  opacity: .75;
}
.icon-tray {
  margin-top: 4px;
	font-size: 1.4rem;
}
.icon {
  	margin-left: 15px;
}

@media (max-width: 480px) {
  body {
    padding-top: 10px;
  }
  .flex-grid {
    margin: 10px;
    display: block;
  }
  .action {
    margin: 20px 10px;
  }
  .col,
  .col-lg,
  .col-sm {
    margin-bottom: 10px;
    flex: 1;
    width: 100%;
  }
  a.button {
    margin-bottom: 10px;
  }
  .icon {
  	margin: 16px;
  }
  .bottom-right {
    text-align: right;
  }
}